---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SemiFooter from '../components/SemiFooter.astro';

import Demostration from "../components/Demostration.astro";

import projectImage1 from "../assets/images/avances/avance1/avance1.jpg";

---

<Layout title="Silencio Activo | Avance 1">
	<Header page='advances' />
	<main class="scroll-smooth w-full px-6 md:px-10 pt-4 md:pt-12 pb-6 max-w-5xl m-auto">

        <section class="pt-4 md:pt-12 flex flex-col gap-12 md:gap-24">
            
            <article class=" max-w-2xl flex flex-col justify-center items-start gap-12">
                <h2 class="text-5xl md:text-6xl text-pretty !leading-[5.5rem]">Avance 1</h2>
            </article>

          	<section class="flex flex-col gap-24 md:gap-36">

				<article>
					<article class="flex flex-col gap-8 lg:gap-28">
				        <header class="overflow-hidden">
				            <img class="object-cover w-full max-w-[468px]  lg:max-w-[572px] max-h-[400px] md:max-h-[500px] m-auto transition-transform hover:scale-110" src={projectImage1?.src} alt="">
				        </header>
				        <footer class="flex flex-col gap-6 justify-center items-start">
				                <p class="text-[#8A847A] text-lg">Publicado el 31 de Agosto • 2025</p>
				                <div class="flex flex-col gap-4">
				                    <p class="md:text-lg">
				                    	<span class="text__time px-2  rounded-xl text-[#00c4ff] bg-[#454545]">13 de agosto</span> Primer día de proyecto y decidimos que el nombre del equipo fuese "Peñarol Inteligencia D1". Lo segundo fue decidir el proyecto, las propuestas eran, semáforo inteligente, regadora automática y sistema de alarma móvil, al final nos inclinamos por la primera opción la cual es un "semáforo inteligente" que consiste en un sensor de sonido como base, el cual emite luz indicando si el ambiente es adecuado para el aprendizaje refiriéndose al sonido. 
				                    Para ello necesitamos una Microbit, un IoT kit del cual por ahora solamente tenemos pensado utilizar su sensor de sonido y IoT Bit, cableado y 3 luces led, rojo, amarillo y verde.
				                	</p>
				                	<p class="md:text-lg">
				                    	<span class="text__time px-2  rounded-xl text-[#00c4ff] bg-[#454545]">20 de agosto</span>
				                    	Comenzamos con la platilla de la página web, se avanzó en cada aspecto, determinandose, diseño, contenido, etc. 
				                    	Avanzamos con el documento de avance diario, se comenzó con la investigación con más profundidad sobre los materiales requeridos para "silencio activo" y se determinó que para las pruebas se utilizaría una pantalla led por comodidad, y se estudió otro lenguaje de programación para poder aplicarlo al IoT Bit y Microbit.
				                	</p>
				                	<p class="md:text-lg">
				                    	<span class="text__time px-2  rounded-xl text-[#00c4ff] bg-[#454545]">27 de agosto</span> 
				                    	Día bastante importante ya que comenzamos con el ensamblaje básico del proyecto, en el cual determinamos que necesitábamos una protoboard que anteriormente no tuvimos en cuenta, y teníamos como faltante un led rojo. Se comenzó a programar en python, se logró avances y un funcionamiento básico en el proyecto. Empezamos utilizando una microbit v2 y terminamos utilizando microbit v1 por un error desconocido.
				                	    También se avanzó con la platilla del proyecto.
				                	</p>
				                </div>
				        </footer>
				    </article>

				</article>

			</section>

        </section>

	</main>
	<Footer />
</Layout>

<style>
	.text__time{
	    font-variant: petite-caps;
	}
	
	.serviceSvg{
		filter: opacity(0.4);
		transition: filter 0.4s ease-in-out;
	}.listOfServices li:hover .serviceSvg{
		filter: opacity(1);
	}

</style>