---

import OurPlayers from '../components/OurPlayers.astro';

---


<div class="flex flex-col gap-8 max-w-7xl text-lg tracking-wider">
    <p>Somos <span class="text-[--text-color-principal] text-shadow-under-yellow">Peñarol Inteliencia D1</span>, un grupo de estudiantes de informática que desarrolla un proyecto educativo para ayudar tanto a alumnos como a profesores de todo el sistema educativo uruguayo para que sus clases se desenvuelvan de una manera más amena y sin pausas.
    </p>
    <p>¿Para que sirve "Silencio Activo"?
    </p>
    <p>“Silencio Activo” sirve para generar un ambiente más adecuado para concentrarse
    </p>
    <p>El sistema está compuesto por 3 luces LED y un microcontrolador. 
        Si el sonido del aula es el adecuado entonces la luz verde estará encendida. Si el sonido del entorno no es el recomendable entonces se prenderá la luz amarilla, y si el ruido es intolerable entonces se prenderá el color rojo.
    </p> 
    <p>"Silencio Activo" está especialmente enfocado para ayudar a personas con TDAH para que su aprendizaje y concentración sean mas amenos.
        Y ayuda a autorregularse sin necesidad de intervención directa por parte del docente
    </p>
</div>

<OurPlayers />