---

import projectImage1 from "../assets/images/projects/project1.webp";

---

<a class="" href="">
        <article class="flex flex-col md:flex-row gap-8 lg:gap-28">
            <header class="overflow-hidden">
                <img class="object-cover w-full max-w-[468px]  lg:max-w-[572px] max-h-[400px] md:max-h-[500px] m-auto transition-transform hover:scale-110" src={projectImage1?.src} alt="">
            </header>
            <footer class="flex flex-col gap-2 justify-center items-start md:max-w-96">
                <h3 class="text-5xl py-4">Avance 1</h3>
                <p class="text-[#8A847A] text-lg">31 de Agosto • 2025</p>
                <p class="md:text-lg">Empezamos el proyecto "Silencio Activo"...</p>
            </footer>
        </article>
    </a>